
@{
    ViewBag.Title = "Ecxel Upload Example";
}

<h2>Create</h2>

@using (Html.BeginForm("UploadExcel", "Example", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <label for="file">Upload Image:</label>
    <input type="file" name="file" id="file" /><br><br>
    <input type="submit" value="Upload Image" />
    <br><br>
    @ViewBag.Message
}